.container{
    margin-left: 80px;
}

.card{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   width: 45%;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   transition: 1s;
}
.card:hover{
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2);
}
.user_title{
    margin-top: 0;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
}

.user_deignation{
    margin-top: 0;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 0;
}

.toggle{
    background-color: gray;
    color: brown;
}
